*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Lora', serif;
}

body{
    background-color: #171717;
}

header{
    color: #FFFF;
    background-color: rgb(14, 14, 14);
    box-shadow: 0px 4px 10.79px 2.21px rgba(0, 0, 0, 0.2);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9rem;
}

.imgHeader{
    display: flex;
    align-items: center;
    gap: 0 2rem;
}

.photo{
    width: 4.5rem;
}

.nameheader{
    font-size: 2rem;
    font-weight: 700;
}

nav{
    display: flex;
    gap: 0 1.5rem;
    font-size: 1.2rem;
}

a{
    color: #FFFF;
    text-decoration: none;
}

a:hover{
    color: #37bfbd;
    transition: ease-in-out 0.5s;
}

main{
    color: #FFFF;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 9rem;
}

.devTitle{
    color: #37bfbd;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
    box-shadow: 0px 4px 10.79px 2.21px rgba(0, 0, 0, 0.2);
    width: 22rem;
    padding: 0.5rem;
}


.nameTitle{
    font-size: 5rem;
    font-weight: 700;
    padding: 0.5rem 0;
}

.aboutDescription{
    font-size: 1.3rem;
    margin-right: 3rem;
    line-height: 2rem;
    padding-bottom: 3rem;
}

.contactIcons{
    display: flex;
    gap: 2rem;
}

.contactIconsImg{
    width: 3rem;
}

.aboutImgIcon{
    width: 35rem;
}

.skills{
    background-color: #252525;
    box-shadow: 0px 4px 10.79px 2.21px rgba(0, 0, 0, 0.2);
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 9rem;
}


.skillsTitle{
    color: #37bfbd;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    width: 20rem;
    padding-right: 6rem;
    border-right: #FFFF 0.1rem solid;
}

.skillsIcons{
    display: flex;
    gap: 3rem;
}


.skillsIconsImg{
    width: 3.5rem;
}

.projects{
    padding: 2rem 9rem;
}

.projectTitle{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.projectsCard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem 0.5rem;
    padding: 3rem 0;
}

.projectsCardContentTitle{
    color: #37bfbd;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
}

.projectsCardContentImg{
    width: 37rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

}

.projectsCardContentLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: .5rem;
    background-color: rgb(37, 37, 37);
    box-shadow: 0px 4px 10.79px 2.21px rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
}

.projectsCardContentLinksBox{
    color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 8rem;
    background-color: #FFFF;
    border-radius: 0.3rem;
    padding: 0.2rem;

}

.projectsCardContentLinksBox:hover{
    background-color: #37bfbd;
    transition:ease-in-out 0.5s ;
}

.projectsCardContentLinksIcon{
    width: 2rem;
}

.projectsCardContentLinksTitle{
    font-weight: 700;
}

.contact{
    color: #FFFF;
    background-color: #252525;
    box-shadow: 0px 4px 10.79px 2.21px rgba(0, 0, 0, 0.2);
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 6rem;
    padding: 0 9rem;
}


.contactPhotoImg{
    width: 15rem;
}

.contactText{
    border-left: 0.1rem solid #FFFF;
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    align-items: center;
}

.contactTitle{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.contactIconsBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}


.contactIconsImgBottom{
    width: 2rem;
}

.contactEmail{
    padding-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.resume{
    color: #37bfbd;
    background-color: rgb(23, 23, 23);
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

footer{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFF;
}

@media (max-width: 1440px){
    .nameTitle {
        font-size: 4rem;
    }

    .aboutDescription{
        font-size: 1.2rem;
    }

    .projectsCardContentImg{
        width: 34rem;
    }
}

@media (max-width: 1370px){
    .projectsCardContentImg {
            width: 32rem;
    }
}


@media (max-width: 1115px) {
    header {
        padding: 0 4rem;
    }

    .about{
        padding: 2rem 4rem;
        justify-content: space-around;
    }

    .aboutText {
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
    }

    .devTitle{
        font-size: 1.5rem;
        width: 18rem;
    }

    .aboutDescription {
        font-size: 1.1rem;
    }

    .contactIconsImg {
        width: 2rem;
    }

    .aboutImg{
        width: 33rem;
    }

    .aboutImgIcon{
        width: 25rem;
    }

    .contactIcons {
        margin-top: -1rem;
    }

    .skills {
        justify-content: center;
        padding: 0 4rem;
    }

    .skillsTitle {
        width: 18rem;
    }

    .skillsIcons {
        gap: 2rem;
        padding-left: 2rem;
    }

    .projects {
        padding: 2rem 4rem;
    }

    .projectsCard {
        justify-content: center;
    }

    .projectsCardContentImg {
        width: 50em;
    }

    .contact {
        height: 15rem;
        gap: 0 4rem;
        padding: 0 4rem;
    }

    .contactPhotoImg {
        width: 13rem;
    }

    .contactText {
        padding-left: 4rem;
    }

    .contactTitle {
        font-size: 2.5rem;
    }

    .contactIconsBottom {
        padding-top: 1rem;
    }

    .resume {
        padding: 0.5rem;
    }
}

@media (max-width: 844px){
    .about{
        flex-wrap: wrap;
    }

    .aboutText{
        order: 2;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutDescription{
        font-size: 1.3rem;
        text-align: center;
        margin: 0;
    }

    .nameTitle {
        padding-top: 2.2rem;
    }

    .aboutImg{
        display: flex;
        justify-content: center;
    }

    .aboutImgIcon{
        width: 32rem;
    }

    .skillsTitle{
        width: 15rem;
    }

    .skillsIcons{
        gap: 1.2rem;
        padding-left: 2rem;
    }

    .skillsIconsImg{
        width: 2.5rem;
    }

    .projectsCardContentImg{
        width: 38rem;
    }
}

@media (max-width: 430px){
    header{
        padding: 0 1.8rem;
        height: 4.5rem;
    }

    .imgHeader{
        gap: 0.8rem;
    }

    .photo{
        width: 3rem;
    }

    .nameheader{
        font-size: 1rem;
    }

    nav{
        gap: 0.5rem;
    }

    .navText{
        font-size: 0.7rem;
    }

    .about{
        padding: 1rem 1.8rem;
    }

    .aboutImgIcon{
        width: 18rem;
    }

    .devTitle{
        font-size: 1rem;
        width: 12rem;
        margin-top: -1rem;
    }

    .nameTitle{
        font-size: 2.5rem;
        margin-top: -1rem;
    }

    .aboutDescription{
        font-size: .8rem;
        line-height: 1.2rem;
    }

    .contactIcons{
        margin-top: -1.5rem;
        gap: 1rem;
    }

    .contactIconsImg{
        width: 1.2rem;
    }

    .skills {
        padding: 0 1.8rem;
    }

    .skillsText{
        display: flex;
        align-items: center;
    }

    .skillsTitle {
        width: 10rem;
        height: 6rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
    }

    .skillsIcons {
        gap: 0.8rem;
        padding-left: 2rem;
        flex-wrap: wrap;
    }

    .skillsIconsImg{
        width: 2rem;
    }

    .projects{
        padding: 1rem 2rem;
    }

    .projectTitle{
        font-size: 2.2rem;
    }

    .projectsCard{
        margin-top: -1rem;
        gap: 2rem;
    }

    .projectsCardContentTitle{
        font-size: 1.3rem;
    }

    .projectsCardContentImg{
        width: 20rem;
    }

    .projectsCardContentLinks{
        margin-top: -1rem;
        gap: 0.6rem;
        padding: 0.6rem;
    }

    .projectsCardContentLinksBox{
        width: 6.3rem;
    }

    .projectsCardContentLinksIcon{
        width: 0.8rem;

    }

    .projectsCardContentLinksTitle{
        font-size: 0.8rem;
    }

    .contact {
        height: 10rem;
        gap: 0 2rem;
        padding: 0 2rem;
        margin-top: -2rem;
    }

    .contactPhotoImg {
        width: 7rem;
    }

    .contactText {
        display: flex;
        padding-left: 1.5rem;
    }

    .contactTitle {
        font-size: 1.2rem;
    }

    .contactIconsBottom {
        padding-top: 1rem;
        gap: 1rem;
    }

    .contactIconsImgBottom{
        width: 1rem;
    }

    .contactEmail{
        font-size: 0.8rem;
        margin-top: -.2rem;
    }
    
    .resume{
        font-size: 1rem;
        margin-top: 0.8rem;
        width: 7rem;
    }

    footer{
        height: 3rem;
        font-size: .5rem;
    }
}



